	
	<script src="__PUBLIC__/Admin/lib/bootstrap/js/bootstrap.js"></script>
	<script src="__PUBLIC__/yidao/js/mydate.js"></script>
	<footer id="fh5co-footer" class="">
	
		<div class="container">
			<div class="col-md-6  col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>关于我们</h3>
				<ul class="float">
					<li><a href="#">公司地址：洛阳市西工区升龙广场A座11-3-1601</a></li>
					<li><a href="#">联系电话：400-159-0699</a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
				</ul>
				<ul class="float">
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
				</ul>

			</div>
			<div class="col-md-6  col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>产品服务</h3>
				<ul class="float">
					<li><a href="#">软件应用开发服务</a></li>
					<li><a href="#">网络约车服务</a></li>
					
				</ul>
				<ul class="float">
					<li><a href="#">汽车租赁服务</a></li>
					<li><a href="#">拼车服务</a></li>
				<!-- 	<li><a href="#">Free HTML5 &amp; CSS3 Template</a></li>
					<li><a href="#">HandCrafted Templates</a></li> -->
				</ul>

			</div>

			
			<div class="col-md-12 fh5co-copyright text-center">
				<p style="color: white;">&copy; 2016 河南一道科技公司. All Rights Reserved. <span>Designed with  河南一道科技研发部</span></p>	
			</div>
		</div>
	</footer>
</body>
</html>

