
<link rel="stylesheet" href="__PUBLIC__/bootstrapall/css/bootstrap.css">
<script type="text/javascript" src="__PUBLIC__/bootstrapall/js/jquery-3.1.0.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/bootstrapall/js/bootstrap.js"></script>


<div>
<!--
/****************************************
本文件是【微信支付V2.0】JSAPI支付实例
需要用授权接口进入页面
****************************************/
-->

	<article class="charge">
		<h1>微信支付-H5-demo</h1>
		<section class="content">
				<h2>商品：测试商品。</h2>		
		  <ul class="select cf">
					<li><img src="weixin.jpg" style="width:150px;height:150px"></li>
				</ul>
				<p class="copy-right">亲，此商品不提供退款和发货服务哦</p>
				<div class="price">微信价：<strong>￥0.01元</strong></div>
				<div class="operation"><a class="btn-green" id="getBrandWCPayRequest" href="#">立即购买</a></div>
				<p class="copy-right">微信支付demo 由腾讯微信提供</p>
		</section>
	</article>


</div>
 <script type="text/javascript">
 
 </script>
